html {
    height: 100%;
}

body {
    min-height: 100%;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "sidebar header"
                         "sidebar content"
                         "footer footer";

    --dark-gray: #111827;
    --light-gray: #F9FAFB;
    --dark-cyan: #164E63;
    --light-blue: #DBEAFE;
    --red: #DC2626;
    --orange: #FB923C;
    --yellow: #FDE047;
    --purple: #7E22CE;
}

/* Icons */

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.delete.icon {
    background-image: url("./assets/delete.svg");
}

.edit.icon {
    background-image: url("./assets/edit.svg");
}

.hidden {
    display: none;
}

/* Header */

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;

    background-color:  var(--light-blue);
    padding: 10px 0;
}

.header > .project-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.header > .project-header > h1 {
    font-size: 2.5rem;
    margin: 0 5px 0 0;
}

.header > .project-header > p {
    margin: 5px 0 0 0;
}

.header > button.add-task.add-btn {
    font-size: 1.8rem;
    margin-right: 30px;
}

/* Sidebar */

.sidebar {
    grid-area: sidebar;
    background-color:  var(--dark-cyan);
    color: var(--light-gray);
    padding: 0 10%;
}

.project-names > .project {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    /*column-gap: 5px;*/
}

.project > .priority {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50px;
}

.project > .priority.very-high {
    background-color: var(--red);
}

.project > .priority.high {
    background-color: var(--purple);
}

.project > .priority.medium {
    background-color: var(--orange);
}

.project > .priority.low {
    background-color: var(--yellow);
}


.sidebar h1 {
    font-size: 1.8rem;
}

.sidebar h2 {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.sidebar p {
    font-size: 1.1rem;
    padding-left: 15px;
    margin: 15px 0px;
}

.sidebar button.add-project {
    margin-top: 5px;
}

.sidebar button.add-project,
.header button.add-task {
    font-size: 1.5rem;
    background: #FEE2E2;
    color: var(--red);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

/* Content */

.tasks-section {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: min-content;
    column-gap: 25px;
    row-gap: 15px;
    padding: 10px;
}

.tasks-section > .task {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: "title checkbox checkbox"
                         "expand edit delete"
                         "extra-info extra-info extra-info";
    background-color: var(--light-gray);
    border: 3px solid var(--dark-gray);
    border-radius: 8px;
    padding: 5px;
    position: relative;
}

.tasks-section > .task > div.task-checked {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
}

.task > div.task-checked > hr {
    flex: 1;
    border: 15px solid rgba(0,0,0,0.3);
}

.task h3,
.task h4,
.task p {
    margin: 0;
}

.task > div.extra-info {
    grid-area: extra-info;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    padding-bottom: 4px; 
}

.task > h3 {
    grid-area: title;
    align-self: center;
}

.task > input {
    grid-area: checkbox;
    height: 44px;
    /*appearance: none;*/
    z-index: 2;
}

.task > p.expand {
    grid-area: expand;
}

.task > p.edit {
    grid-area: edit;
}

.task > p.delete {
    grid-area: delete;
}

/* Footer */

.footer {
    grid-area: footer;

    background-color: #1e293b;
    color: var(--light-gray);
}

.footer > p {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    margin: 5px 0;
    font-size: 1rem;
}

.footer .github-icon {
    background-image: url("./assets/github-32px.png");
}

/* Forms */

.task-form,
.project-form {
    position: fixed;
    left: 50%;
    top:  50%;
    transform: translate(-50%, -50%);

    background-color:  var(--dark-cyan);
    color: var(--light-gray);
    border: 5px solid var(--dark-gray);
    border-radius: 10px;
}

.task-form > h2,
.project-form > h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.task-form > form,
.project-form > form {
    display: flex;
    flex-direction: column;
    padding: 0 20px 10px 20px;
}

form > p > label {
    width: 120px;
    display: inline-block;
    font-size: 1.4rem;
}

form > p > input,
form > p > select {
    width: 63%;
}

form > .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form > .buttons button {
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background: var(--light-blue);
    color: var(--dark-gray);
}